.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(green, 0.3);
    border-radius: 25px;
    min-width: 320px;
    min-height: 175px;
    padding: 10px;
    gap: 5px;

    h2 {
        font-size: 24px;
        margin: 0;
    }

    p {
        max-width: 320px;
        text-align: center;
    }
    
    form {
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        input {
            border-radius: 15px;
            min-height: 40px;
            padding-left: 5px;
        }

        > label {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-width: 300px;
        }

        .btnMode {
            display: flex;
            min-width: 300px;
            justify-content: center;
            align-items: center;

            span {
                padding-left: 10px;
                padding-bottom: 5px;
                cursor: pointer;
            }

            button {
                min-height: 40px;
                background: rgba(white, 0.8);
                border: 1px solid grey;
                border-radius: 15px;
                width: 85%;
                text-align: center;
                padding: 5px 0;
                margin-bottom: 5px;
    
                &:hover {
                    background-color: rgba(white, 1.0);
                    border: 1px solid black;
                    transform: scale(1.05);
    
                }
            }

        }

        
    }
    
    input {

        &#snatchRepMaxValue {
            max-width: 50px;
        }

        &#cleanRepMaxValue {
            max-width: 50px;
        }
    }

}