.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    
    form {
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        > label {
            display: flex;
            justify-content: space-evenly;
            min-width: 300px;
        }

        button {
            background-color: rgba(green, 0.3);
            border: 1px solid grey;
            border-radius: 5px;
            width: 85%;
            text-align: center;
            padding: 5px 0;

            &:hover {
                background-color: rgba(green, 0.6);

            }
        }
    }
    
    input {

        &#snatchRepMaxValue {
            max-width: 50px;
        }

        &#cleanRepMaxValue {
            max-width: 50px;
        }
    }

}