header {
    display: flex;
    min-width: 320px;

    justify-content: space-between;

    h1 {
        font-size: 40px;
        margin: 0;
    }

    a {
        color: black;
        text-decoration: underline dotted black 1px;
    }

    .logo {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: $primary-yellow;
        width: 54px;
        height: 54px;

        background-color: $dark-green;
        border: 5px solid $primary-yellow;
        border-radius: 30px;

        position: relative;

        & span {
            position: absolute;
            top: 20%;
            left: 10%;

        }
    }

    img {
        width: 64px;
        height: 64px;
    }
}

