$primary-yellow: #FABB00;
$dark-green: #16451B;
$primary-green: #00FF00;
$light-grey: #D9D9D9;
$black-color: black;
$white-color: white;

@import './basic.scss';
@import './header.scss';
@import './form.scss';
@import './forminput.scss';
@import './week.scss';
@import './workout.scss';