main {
  h3 {
    font-size: 32px;
    margin: 0;
    padding: 0 10px;
  }
}

.prevNext {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  padding: 0 5px;

}

#selectedOvning {
  padding: 0px 10px;
  line-height: 24px;
}

#selectedOvning span {
  padding-right: 10px;

  
}

#selectedOvningInfo {
  padding: 10px 10px;
  font-style: italic;
  text-decoration: underline grey;
  display: flex;
  justify-content: center;

}

.currentSelectedOvning {
  font-weight: bold;
  font-size: 17px;
  text-decoration: underline solid $primary-yellow 3px;
}

.currentSelectedOvningDone {
  font-weight: normal;
  text-decoration: underline solid $primary-green 3px;
}

.repsAndSets {
    list-style: none;
    padding: 0;
    min-width: 300px;
    margin-top: 0;
  
    &__text {
      margin: 20px 0;
      padding: 10px 0;
      border: 1px solid grey;
      border-radius: 15px;
      width: 100%;
      text-align: center;
      transition: transform 0.3s;
      background-color: rgba(white, 0.5);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      letter-spacing: 2px;
      word-spacing: 5px;

      // &:nth-child(6) {
      //   background-color: rgba(yellow, 0.3);

      // }
      // &:nth-child(7) {
      //   background-color: rgba(orange, 0.3);

      // }
      // &:nth-child(8) {
      //   background-color: rgba(red, 0.3);

      // }
  
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
        cursor: pointer; 

        // &:nth-child(6) {
        //   background-color: rgba(0, 0, 0, 0.3);
  
        // }
        // &:nth-child(7) {
        //   background-color: rgba(0, 0, 0, 0.3);
  
        // }
        // &:nth-child(8) {
        //   background-color: rgba(0, 0, 0, 0.3);
  
        // }
      }
  
      &--done {
        background-color: rgba(green, 0.3);

        // &:nth-child(6) {
        //   background-color: rgba(green, 0.3);
  
        // }
        // &:nth-child(7) {
        //   background-color: rgba(green, 0.3);
  
        // }
        // &:nth-child(8) {
        //   background-color: rgba(green, 0.3); 
  
        // }
      }
    }
  }
  
  .liftCounterContainer {
    display: flex;
    justify-content: center;
  }
  
  .show {
    display: block;
  }

  .hide {
    display: none;
  }